{{!< default}}

<div class='pageContent'>
  {{#post}}
  <article class="postPage article {{post_class}}">
    <header class="postPage__header">
      <h1 class="postPage__title">{{{title}}}</h1>
      <p class="postPage__date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='dddd Do MMMM YYYY'}}</time></p>
    </header>

    {{#if image}}
      <div class='postPage__coverImage' style="background-image:url({{image}})"></div>
    {{/if}}

    <section class="postPage__content">
        {{content}}
    </section>

  </article>
  {{/post}}
</div>
